{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Daftar Bawahan</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Daftar Bawahan</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                        
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama Bawahan</th>
                            <th>Foto </th>
                            <th>Jabatan</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bawah in bawahan %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ bawah.pegawaipribadi.nama }}</td>
                            <td>
                                <img src="{{ bawah.pegawaipribadi.foto.url }}" alt="{{ bawah.pegawaipribadi.nama }}" width="100">
                            </td>
                            <td>{{ bawah.jabatan }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
