{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
    </div>
    <div class="card" style="width:70%; margin-bottom: 100px">
        <div class="card-body">
                <h2>Data Pasangan Pegawai
                    <a href="{% url 'tambah_pegawai_keluarga' %}"class="btn btn-primary">Tambah</a>
                </h2>
                <table class="table table-bordered">
                    {% for pegawai in pegawai %}
                    <tbody>
                        <tr>
                            <th>Nama :</th>
                            <td>{{ pegawai.nama }}</td>
                        </tr>
                        <tr>
                            <th>Nip :</th>
                            <td>{{ pegawai.perguruan_d3 }}</td>
                        </tr>
                        <tr>
                            <th>Nama Pasangan :</th>
                            <td>{{ pegawai.nama_pasangan }}</td>
                        </tr>
                        <tr>
                            <th>Tempat Lahir :</th>
                            <td>{{ pegawai.tempat_lahir }}</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir :</th>
                            <td>{{ pegawai.tgl_lahir }}</td>
                        </tr>
                        <tr>
                            <th>Nama Anak Pertama :</th>
                            <td>{{ pegawai.anak1 }}</td>
                        </tr>
                        <tr>
                            <th>Jenis Kelamin  :</th>
                            <td>{{ pegawai.jk4 }}</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir Anak Pertama :</th>
                            <td>{{ pegawai.tgl_lahir_a1 }}</td>
                        </tr>
                        <tr>
                            <th>Nama Anak Ke Dua:</th>
                            <td>{{ pegawai.anak2 }}</td>
                        </tr>
                        <tr>
                            <th>Jenis Kelamin Anak :</th>
                            <td>{{ pegawai.jk6 }}</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir Anake Ke Dua :</th>
                            <td>{{ pegawai.tgl_lahir_a2 }}</td>
                        </tr>
                        <tr>
                            <th>Nama Anak Ke Tiga:</th>
                            <td>{{ pegawai.anak3 }}</td>
                        </tr>
                        <tr>
                            <th>Jenis Kelamin Anak :</th>
                            <td>{{ pegawai.jk8 }}</td>
                        </tr>
                        <tr>
                            <th>Tanggal Lahir Anak Ke Tiga:</th>
                            <td>{{ pegawai.tgl_lahir_a3 }}</td>
                        </tr>
                        <tr>
                            <th>Jumlah Anak:</th>
                            <td>{{ pegawai.jumlah_anak }}</td>
                        </tr>
                        
                        
                       
                        
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
            <a href="/dashboard"class="btn btn-danger">Kembali</a>
        </div>
    </div>

{% endblock content %}