{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
    </div>
    <div class="card" style="width:70%; margin-bottom: 100px">
        <div class="card-body">
            <h2>Data Pendidikan Pegawai
                <a href="{% url 'tambah_pegawai_pendidikan' %}"class="btn btn-primary">Tambah</a>
            </h2>
            <div class="row">
                <div class="col-md-4">
                    {% for pegawai in pegawai %}
                    {% if pegawai.sertifikat_keahlian %}
                        <div class="text-center">
                            <img src="{{ pegawai.sertifikat_keahlian.url }}" alt="Foto Pegawai" class="img-fluid">
                        </div>
                    {% else %}
                        <div class="text-center">
                            Foto tidak tersedia.
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>NAMA:</th>
                                <td>{{ pegawai.nama }}</td>
                            </tr>
                            <tr>
                                <th>NIP:</th>
                                <td>{{ pegawai.nip }}</td>
                            </tr>
                            <tr>
                                <th>PENDIDIKAN TERAKHIR:</th>
                                <td>{{ pegawai.pendidikan_terakhir }}</td>
                            </tr>
                            <tr>
                                <th>PERGURUAN D3 :</th>
                                <td>{{ pegawai.perguruan_d3 }}</td>
                            </tr>
                            <tr>
                                <th>BIDANG D3:</th>
                                <td>{{ pegawai.bidang_d3 }}</td>
                            </tr>
                            <tr>
                                <th>PERGURUAN TINGGI S1:</th>
                                <td>{{ pegawai.perguruan_tinggi_d4_s1 }}</td>
                            </tr>
                            <tr>
                                <th>BIDANG S1:</th>
                                <td>{{ pegawai.bidang_d4_s1 }}</td>
                            </tr>
                            <tr>
                                <th>PERGURUAN TINGGI S2 :</th>
                                <td>{{ pegawai.perguruan_tinggi_sp1_s2 }}</td>
                            </tr>
                            <tr>
                                <th>BIDANG S2:</th>
                                <td>{{ pegawai.bidang_sp1_s2 }}</td>
                            </tr>
                            <tr>
                                <th>PERGURUAN TINGGI S3:</th>
                                <td>{{ pegawai.perguruan_tinggi_sp2_s3 }}</td>
                            </tr>
                            <tr>
                                <th>BIDANG S3:</th>
                                <td>{{ pegawai.bidang_sp2_s3 }}</td>
                            </tr>
                            <tr>
                                <th>MASA BERLAKU:</th>
                                <td>{{ pegawai.masa_berlaku }}</td>
                            </tr>
                            <tr>
                                <th>ORGANISASI PROFESI:</th>
                                <td>{{ pegawai.organisasi_profesi }}</td>
                            </tr>
                            <tr>
                                <th>KURUN WAKTU:</th>
                                <td>{{ pegawai.kurun_waktu }}</td>
                            </tr>
                            <tr>
                                <th>TINGKAT:</th>
                                <td>{{ pegawai.tingkat }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <a href="/dashboard" class="btn btn-danger">Kembali</a>
        </div>
    </div>

</div>

{% endblock content %}
