{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-2">
    </div>
    <div class="card" style="width:70%; margin-bottom: 100px">
        <div class="card-body">
            <h2>Data Pasangan Pegawai</h2>
            <a href="{% url 'tambah_pegawai_keluarga' %}" class="btn btn-primary">Tambah</a>
            <table id="pasanganTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama Pasangan</th>
                        <th>No HP</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pegawai in keluarga %}
                        {% if pegawai.nama_pasangan %}
                        <tr>
                            <td>{{ pegawai.nama_pasangan }}</td>
                            <td>{{ pegawai.hp  }}</td>
                            <td>{{ pegawai.tempat_lahir }}</td>
                            <td>{{ pegawai.tgl_lahir }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <h2>Data Anak Pegawai</h2>
            <table id="anakTable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nama Anak</th>
                        <th>Jenis Kelamin</th>
                        <th>Tanggal Lahir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pegawai in keluarga %}
                        {% if pegawai.anak1 %}
                        <tr>
                            <td>{{ pegawai.anak1 }}</td>
                            <td>{{ pegawai.jk4 }}</td>
                            <td>{{ pegawai.tgl_lahir_a1 }}</td>
                        </tr>
                        {% endif %}
                        {% if pegawai.anak2 %}
                        <tr>
                            <td>{{ pegawai.anak2 }}</td>
                            <td>{{ pegawai.jk6 }}</td>
                            <td>{{ pegawai.tgl_lahir_a2 }}</td>
                        </tr>
                        {% endif %}
                        {% if pegawai.anak3 %}
                        <tr>
                            <td>{{ pegawai.anak3 }}</td>
                            <td>{{ pegawai.jk8 }}</td>
                            <td>{{ pegawai.tgl_lahir_a3 }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <a href="/dashboard" class="btn btn-danger">Kembali</a>
        </div>
    </div>
</div>

<script src="path_to_your_datatables_library/datatables.min.js"></script>
<script>
$(document).ready(function() {
    $('#pasanganTable').DataTable();
    $('#anakTable').DataTable();
});
</script>

{% endblock content %}
