{% extends 'base.html' %}
    
{% block content %}
   <!-- Begin Page Content -->
   <div class="container-fluid">
    <!-- Page Heading -->
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Penilaian Pegawai
               
            </h6>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Nrp</th>
                            <th>Jabatan</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bawah in bawahan %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ bawah.pegawaipribadi.nama }}</td>
                            <td>{{ bawah.pegawaipribadi.nip }}</td>
                            <td>{{ bawah.jabatan }}</td>
                            <td>
                                <center>
                                    <a href="{% url 'tambah_nilai' bawah.pegawaipribadi_id   %}" class="btn btn-primary"><i class="fas fa-plus"></i>  Nilai</a>
                                    <a href="{% url 'detail_nilai' bawah.pegawaipribadi_id   %}" class="btn btn-primary"><i class="fas fa-eye"></i>  Lihat</a>
                                </center>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
    



