{% extends 'base.html' %}
    
{% block content %}
   <!-- Begin Page Content -->
   <div class="container-fluid">
    <!-- Page Heading -->
    

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Penilaian Pegawai
                <a href="{% url 'cetak_nilai' %}" class="btn btn-success float-right">Cetak Data Absen ke Excel</a>
            </h6>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Nilai Rata Rata</th>
                            <th>Nilai</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        {% for nilai in nilai %}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ nilai.pegawaipribadi.nama }}</td>
                        <td>{{ nilai.rata_rata }}</td>
                        <td>{{ nilai.nilai_huruf }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
    



