{% extends 'base.html' %}
    
{% block content %}
<div class="container-fluid">
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Spt</h6>
              <a href="{% url 'tambah_spt' %}"class="btn btn-primary float-right">Tambah</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Nrp</th>
                    <th>Tanggal Pengajuan</th>
                    <th>Jenis Kegiatan</th>
                    <th>Tempat Kegiatan</th>
                    <th>Tanggal Mulai</th>
                    <th>Tanggal Selesai</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for bawah in spt %}
                {% if bawah.status == 'DISETUJUI' or bawah.status == 'DITOLAK' %}
                <tr>
                    <td>{{ bawah.pegawai_nama }}</td>
                    <td>{{ bawah.pegawai_nip }}</td>
                    <td>{{ bawah.tanggal_pengajuan }}</td>
                    <td>{{ bawah.jenis_kegiatan }}</td>
                    <td>{{ bawah.tempat_kegiatan }}</td>
                    <td>{{ bawah.tgl_mulai_kegiatan }}</td>
                    <td>{{ bawah.tgl_selesai_kegiatan }}</td>
                    <td>{% if bawah.status == 'DISETUJUI' %}
                        <span style="color: green;">{{ bawah.status }}</span>
                        {% elif bawah.status == 'DITOLAK' %}
                            <span style="color: red;">{{ bawah.status }}</span>
                        {% else %}
                            <span style="color: yellow;">{{ bawah.status }}</span>
                        {% endif %}</td>
                    
                    <td>
                        <center>
                            <a href="{% url 'detailspt' bawah.id %}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            <!-- Button trigger modal -->
                           
                        </center>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
           </table> 
        </div>
        </div>
    </div>
   </div>

{% endblock content %}
    



