{% extends 'base.html' %}
    
{% block content %}
   <!-- Begin Page Content -->
   <div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Absen</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Data Absen Saya</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Nip</th>
                            <th>Tanggal</th>
                            <th>Jam Masuk</th>
                            <th>Alasan</th>
                            <th>Status</th>
                            <th>Potongan Hari Ini</th>
                            
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for absen in absen %}
                        {% if absen.status == 'DISETUJUI' or absen.status == 'DITOLAK' %}
                        <tr>
                            <td>{{ absen.pegawaipribadi.nama }}</td>
                            <td>{{ absen.pegawaipribadi.nip }}</td>
                            <td>{{ absen.tanggal }}</td>
                            <td>{{ absen.masuk }}</td>
                            <td>{{ absen.alasan}}</td>
                            <td>{% if absen.status == 'DISETUJUI' %}
                                <span style="color: green;">{{ absen.status }}</span>
                                {% elif absen.status == 'DITOLAK' %}
                                    <span style="color: red;">{{ absen.status }}</span>
                                {% else %}
                                    <span style="color: yellow;">{{ absen.status }}</span>
                                {% endif %}</td>
                                <td>{{ absen.jumlah_potongan_tukin }}</td>
                            
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
    



