{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Detail Pekerjaan</h2>
                <table class="table table-bordered">
                    {% for pegawai in pegawai %}
                    <tbody>
                        <tr>
                            <th>MULAI BEKERJA:</th>
                            <td>{{ pegawai.mulai_kerja }}</td>
                        </tr>
                        <tr>
                            <th>WAKTU LAMA BEKERJA:</th>
                            <td>{{ pegawai.lama_kerja }}</td>
                        </tr>
                        <tr>
                            <th>JENIS PEGAWAI:</th>
                            <td>{{ pegawai.pegawai }}</td>
                        </tr>
                        <tr>
                            <th>STATUS JABATAN:</th>
                            <td>{{ pegawai.status }}</td>
                        </tr>
                        <tr>
                            <th>POSISI JABATAN:</th>
                            <td>{{ pegawai.posisi }}</td>
                        </tr>
                        <tr>
                            <th>UNIT:</th>
                            <td>{{ pegawai.unit }}</td>
                        </tr>
                        <tr>
                            <th>PORGRAM STUDI:</th>
                            <td>{{ pegawai.program_studi }}</td>
                        </tr>
                        <tr>
                            <th>TANGGAL BERHENTI KERJA:</th>
                            <td>{{ pegawai.berhenti_kerja }}</td>
                        </tr>
                        <tr>
                            <th>ALASAN BERHENTI KERJA:</th>
                            <td>{{ pegawai.alasan }}</td>
                        </tr>
                        <tr>
                            <th>JABATAN STRUKTURAL:</th>
                            <td>{{ pegawai.jabatanstruktural }}</td>
                        </tr>
                        <tr>
                            <th>TMT:</th>
                            <td>{{ pegawai.tmt }}</td>
                        </tr>
                        <tr>
                            <th>TST:</th>
                            <td>{{ pegawai.tst }}</td>
                        </tr>
                        <tr>
                            <th>NIDN/NUP/NITK/NIDK:</th>
                            <td>{{ pegawai.NIDN_NUP_NITL_NIDK }}</td>
                        </tr>
                        <tr>
                            <th>JABATAN FUNGSIONAL:</th>
                            <td>{{ pegawai.jabatan_fungsional }}</td>
                        </tr>
                        <tr>
                            <th>GOLONGAN:</th>
                            <td>{{ pegawai.gol }}</td>
                        </tr>
                        <tr>
                            <th>SERTIFIKASI DOSEN:</th>
                            <td>
                                {% if pegawai.sertifikasi_dosen %}
                                    <img src="{{ pegawai.sertifikasi_dosen.url }}" alt="Sertifikasi Dosen">
                                {% else %}
                                    Tidak ada sertifikasi dosen
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>NOMOR SERTIFIKASI DOSEN:</th>
                            <td>{{ pegawai.no_sertifikasi_dosen }}</td>
                        </tr>
                        
                        {% endfor %}  
                    </tbody>
                </table>
            </div>
            <a href="/pegawaipekerjaan"class="btn btn-danger">Kembali</a>
        </div>
    </div>

{% endblock content %}