{% extends 'base.html' %}
    
{% block content %}
    <center>
        <h1>SIMPEG</h1>
    </center>

    <h2>
        Data Pegawai
        <a href="{% url 'tambah_pegawai' %}"class="btn btn-primary">Tambah</a>
    </h2>
  
   <div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}
           <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Nrp</th>
                    <th>Hp</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Status</th>
                    <th>Jabatan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for nama in nama %}
                <tr>
                    <td>{{ nama.nama }}</td>
                    <td>{{ nama.nrp }}</td>
                    <td>{{ nama.hp }}</td>
                    <td>{{ nama.email }}</td>
                    <td>{{ nama.alamat }}</td>
                    <td>{{ nama.absen_id }}</td>
                    <td>{{ nama.jabatan }}</td> 
                    <td>
                        <center>
                            <a href="{% url 'ubah_pegawai' nama.id %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <!-- Button trigger modal -->
                            <button data-toggle="modal" data-target="#hapus-{{ nama.id }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </center>
                    </td>
                    <div class="modal" id="hapus-{{ nama.id }}">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">Hapus</h3>
                                </div>
                                <div class="modal-body">
                                    Apakah anda yakin ingin menghapus?
                                </div>
                                <div class="modal-footer">
                                    <a href="{% url 'hapus_pegawai' nama.id %}" class="btn btn-danger">Hapus</a>
                                    <button class="btn btn-dark" data-dismiss="modal">Tidak</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            </tbody>
           </table> 
        </div>
    </div>
   </div>

{% endblock content %}
    



