{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>
                Data Pegawai
            </h2>

            {% for message in messages %}
            {% if message %}
            <div class="alert alert-success">{{ message }}</div>
            {% endif %}
            {% endfor %}

            {% if pesan %}
            <div class="alert alert-success">{{ pesan }}</div>
            {% endif %}
            <form action="{% url 'ubah_pegawai' pegawai.id %}"method="post">
                {% csrf_token %}
                {{ form.as_p }}
            
                <button class="btn btn-primary">Simpan</button>
                <a href="/datapegawai"class="btn btn-danger">Kembali</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
